<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop
       https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--    配置serviceImp-->
    <bean id="bookServiceImp" class="com.lh.sevice.imp.BookServiceImp">
        <property name="bookMapper" ref="bookMapper"/>
    </bean>
<!--    事物管理 (未配置)-->
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <tx:advice id="bookMpperAdvice" transaction-manager="transactionManager" >
        <tx:attributes>
            <tx:method name="query*"/>
            <tx:method name="insert*"/>
            <tx:method name="delete*"/>
            <tx:method name="uptate*"/>
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:pointcut id="sqlPointcut" expression="execution(* com.lh.dao.*.*(..))"/>
        <aop:advisor advice-ref="bookMpperAdvice" pointcut-ref="sqlPointcut"/>
    </aop:config>

</beans>